/* Global Styles */
html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("images/background-white.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    color: rgb(50, 50, 50);
}
a {
    text-decoration: none;
    color: rgb(50, 50, 50);
}
a:hover {
    color: rgb(255, 126, 0);
}

/* Nav Bar */
#nav-name {
    margin-left: 20px;
}
header {
    font-size: 20px;
    font-weight: bold;
}
.top-header > a {
    text-align: left;
    margin-left: 20px;
    font-size: 32px;
}
ul {
    margin-top: 50px;
    margin-left: -40px;
}
header li {
    list-style: none;
    padding: 10px 20px;
    margin: 20px 0;
}
a img {
    bottom: 0;
    margin-left: 15px;
    width: 40px;
    display: block;
    padding: 5px;
}
a img:hover {
    border: 1px solid rgb(255, 126, 0);
}

/* Home */

.Profile {
    display: block;
    text-align: center;
}

.Profile img {
    border-radius: 30px;
    border: 4px solid rgb(255, 126, 0);
}
.Profile-Text {
    text-align: center;
}

/* About */
#About {
    margin: 200px auto;
}
.About-Text {
    max-width: 400px;
    border: 5px solid black;
    border-radius: 20px;
    min-height: 500px;
    box-shadow: 4px 8px rgb(255, 126, 0);
    background-color: white;
}
.About-Text > * {
    margin: 9% 20px;
}
.education-title, .About-Text h1 {
    margin-bottom: 20px;
    text-align: center;
}

.about-subhead {
    text-align: center;
    margin: 0;
}

/* Project */
#Projects {
    width: 70%;
    margin: 100px auto;
}
#Projects > h1 {
    text-align: center;
    font-size: 40px;
}

.project img {
    width: 250px;
    height: 250px;
}
.fill-width {
    background-color: white;
    border: 4px solid black;
    border-radius: 10px;
    margin: 50px 0;
    min-height: 280px;
    box-shadow: 4px 8px rgb(255, 126, 0);
    
}
.Project-Description {
    overflow: hidden;
}



@media screen and (min-width: 1050px) {
    .about-grid {
        width: 90%;
        margin: 0 auto;
        min-height: 500px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 6%;
    }
    .project {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 40px;
        margin: 10px 10px;
    }
}

@media screen and (max-width: 1049px) {
    .about-grid {
        width: 70%;
        margin: 0 auto;
    }
    .About-Text {
        margin-top: 100px;
    }
    .project {
        display: inline;
    }
    .project img {
        margin: 10px;
    }
    .Project-Description {
        margin: 5px;
    }
}

@media screen and (max-width: 800px) {
    .project {
        display: block;
    }
}

@media screen and (max-width: 600px) {
    ul {
        list-style: none;
    }
    .Contact-List {
        position: absolute;
        right: 100px;
        top: 20px;
    }
    .top-header ul li {
        display: inline;
    }
    header {
        background-color: white;
    }
    #Profile-Image {
        margin-top: 100px; 
    }
}

@media screen and (min-width: 601px) {
    body {
        margin: 0 0 0 200px;
    }
    header {
        position: fixed;
        height: 100%;
        width: 180px;
        top: 0;
        left: 0;
        border-right: 2px solid rgb(50, 50, 50);
    }
    header {
        background-image: linear-gradient(to right, rgb(220, 220, 220), rgb(220, 220, 220),rgb(220, 220, 220),rgb(220, 220, 220), black);
    }

    #Profile-Image {
        margin: 300px auto;
    }
}

@media screen and (min-width: 1250px) {
    #Home {
        display: block;
    }
}

@media screen and (min-width: 500px) {
    .Profile img {
        width: 400px;
    }
}

@media screen and (max-width: 499px) {
    .Profile img {
        width: 300px;
    }
}